<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>41332429-3985-48B2-B572-A3E2CA81942B.playgroundpage</string>
		<string>897E2174-AE86-470E-8DD1-C412BC09C1F7.playgroundpage</string>
		<string>6D1274FE-2640-469C-BFB0-8D27E7130246.playgroundpage</string>
		<string>23CC8B9A-DC1E-4F95-B3D6-8E57CDC9C3FA.playgroundpage</string>
		<string>93B0C7F8-8021-4CDD-A5DD-91E6EDA174B6.playgroundpage</string>
		<string>518D8403-9B9A-42F5-BFFA-3398A35DDBA0.playgroundpage</string>
		<string>24359190-8633-450A-8BE5-E40C9A66294F.playgroundpage</string>
		<string>B4755883-FC93-4092-8685-9F4958231C91.playgroundpage</string>
	</array>
</dict>
</plist>
